* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
header,
nav,
main,
footer,
section {
    display: flex;
    margin: 3px;
    flex: 1 1 100vw;
}

body,
main {
    flex-wrap: wrap;
}

header,
nav,
main,
footer {
    background-color: cadetblue;
}
section{
    background-color: aquamarine;
    height: 100vh;
}

/* MENU */
#Logo{
    width: 200px;
    height: 100%;
    background-color: aliceblue;
}

nav{
    justify-content: center;
    align-items: center;
    margin-right: auto;

    a{
        text-decoration: none;
        color: inherit;
        margin: 5px;
        /* font-size: 20pt; */
    }
}

#closeMenu, #openMenu{
    border: none;
    background: none;
    font-size: larger;
    font-weight: bolder;
    padding: 0 5px;
    cursor: pointer;
    /* display: none; */
}

@media screen and (max-width: 768px) {
    #closeMenu, #openMenu{
        display: block;
    }
    #openMenu{
        margin-left: auto;
    }
    #closeMenu{
        width: 90%;
        text-align: right;
    }
    nav{
        position: fixed;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        background-color: #ffffff7d;
        align-items: center;
        justify-content: start;
        margin: 0;
    }
}
