main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100vw;
}

.background_content {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--lilas);
    z-index: -1;
    right: 0;
    box-shadow: inset 2px 2px 30px #512d5a;
}

h1 {
    margin-top: 100px;
    margin-left: 5%;
    font-size: var(--Title-font-size);
    color: var(--purple);
    padding-bottom: 15px;
}

.container_projetos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
    margin: 50px 0;
    width: 100vw;
    min-height: 100vh;
    font-weight: bolder;
    font-size: xx-large;
}

.box_image {
    height: 500px;
    border-radius: 5px;
    text-align: center;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
}

p{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: var(--lilas);
    font-family: var(--Title-font-size);
    background-color: #00000050;
    backdrop-filter: blur(15px);
    border-radius: 5px;
}
img {
    height: 100%;
    max-width: 100%;
    margin: auto;
    border-radius: 5px;
    /* box-shadow: 2px 2px 10px #c0c0c0; */
}

.carrossel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    z-index: 1;
    background-color: #00000083;
    backdrop-filter: blur(15px);
}

.carousel-container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.carousel-container h1 {
    margin: 20px;
    font-size: 1.7vw;
}

.carousel {
    overflow: hidden;
    position: relative;
    /* Para alinhar os botões de navegação */
}

.carousel ul {
    list-style: none;
    display: flex;
    /* text-align: center;
    justify-content: center; */
    /* transition: transform 1s ease; */
}

.carousel li {
    flex: 0 0 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Isso aqui é para ocupar a largura total do container*/
}

.carousel img {
    border-radius: 13px;
    /* border: 2px solid black; */
    /* width: 90%; */
    /* pras imagem ficar dentro da div certinho e não ficar cortando*/
    /* height: 600px; */
    /* Definindo uma altura fixa para as imagens */
}

.carousel-1 {
    max-width: 60vw;
    /* Largura máxima do primeiro carrossel */
}


.carross {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.prev,
.next {
    font-size: 50px;
    cursor: pointer;
    color: var(--lilas);
    transition: 0.5s ease-in-out;
    padding: 10px 5px;
    background-color: #512d5a;

    &:hover{
        transform: scale(1.5);
        color: var(--lilas);
    }
    /* margin-bottom: 25px; */
}

.prev {
    left: 0;
}

.next {
    right: 0;
}


.carousel-container .prev,
.carousel-container .next {
    background-color: transparent;
    /* Remove o fundo branco */
    border: none;

}

#fechar{
    z-index: 2;
    position: fixed;
    top: 50px;
    right: 50px;
    height: 50px;
    width: 50px;
    color: var(--lilas);
    font-size: xx-large;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
    transition: 0.5s ease-in-out;
    &:hover{
        transform: scale(1.2);
    }
}

@media screen and (max-width: 1100px) {
    .container_projetos {
        column-count: 1;
        width: 95vw;
    }
    
}
@media screen and (max-width: 768px) {
    .container_projetos {
        column-count: 1;
        width: 100vw;
    }
    .box_image {
        height: 250px;
    }
}