@media screen and (max-width: 1100px) {
    /* * INDEX */
    .footer_content{
        grid-template-columns: repeat(2, 1fr);
    }
    section{
        height: 100vh;
        flex-direction: column-reverse;
        overflow: hidden;
    }
    
    .home_text, .home_image{
        overflow: hidden;
        clip-path: none;
        width: 100%;
        height: 50%;
    }
    .home_text{
        padding: 20px;
        justify-content: center;
    }
}
@media screen and (max-width: 1000px) {
    .container_about{
        width: 100vw;
    }
    /* Responsivo section serviços */
    .servicos{
        margin-top: 10px;
    }
    .container_box{
        flex-direction: column;
        width: 70vw;
        height: 80vh;
        margin: 25px 0;
        padding: 5px;
    }
    .box{
        height: auto;
        width: 95%;
        padding: 10px;
        h1{
            font-size: 2rem;
        }
        p{
            font-size: 1rem;
        }
        img{
            height: 50px;
            width: 50px;
        }
    }
    
    .button_whatsapp{
        right: 5px;
    }
}

@media screen and (max-width: 768px) {
    :root {
        --big-font: 2.2rem;
        --p-font: 1rem;
    }   
    header{
        padding: 0;
    }
    main{
        padding-top: 0;
    }

    #closeMenu,
    #openMenu {
        display: block;
    }

    #openMenu {
        margin-left: auto;
    }

    #closeMenu {
        width: 100%;
        text-align: right;
    }

    #menu {
        position: fixed;
        flex-direction: column;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: #ffffff7d;
        align-items: center;
        justify-content: start;
        margin: 0;
        display: none;
        transition: ease-in-out 1s;
    }
    .home_text h1{
            font-size: 2.4rem;
    }
    /* serviços */
    .servicos h1{
        text-align: center;
    }
    /* .box h1 {
        font-size: var(--big-font);
        color: var(--purple);
        font-weight: 900;
    } */
    .box img{
        height: 50px;
        width: 50px;
        margin-bottom: 0;
    }

    /* Responsivo section Sobre */
    #sobre{
        height: auto;
    }
    .container_about{
        width: 100vw;
        height: auto;
        flex-direction: column;
    }
    .about_image,
    .about_text {
        width: 100%;
        height: auto;
        display: flex;
        /*align-items: center;*/
        flex-direction: column;
        justify-content: center;
    }

    .about_text{
        margin-top: 20px;
        align-items: left;
        padding: 0;
    }
    /* projetos */
    .box_image{
        width: 100%;
        height: auto;
    }
    .about_icones_redes{
        padding-top: 10px;
        margin: auto;
    }

    #formulario{
        width: 100vw;
    }
    .footer_content{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (max-width: 400px){
    .servicos{
        height: auto;
        padding: 20px 0;
    }
    .footer_content{
        height: auto;
    }
}